/* this is for the card body */
/* 1.
body {
    background-color: black;
}

img {
    height: 150px;
    width: 150px;
}

.Card {
    border: 2px solid rgb(48, 48, 48);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(34, 28, 28, 0.164);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.Card .card-image {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;

}

.Card .card-title {
    font-family: 'poppis' sans-serif;
    margin: 0;
    color: brown;
}

.Card .card-text {
    font-family: 'poppins' sans-serif;
    color: green;
}
    */



/* Button.css */
/* .button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.button:hover {
    background-color: #45a049;
} */

body {
    color: white;
    background-color: black;
}

.Student {
    font-family: 'poppins', sans-serif;
    font-size: 2em;
    padding: 10px;
    border: 2px solid white;

}